.Quiz {
  width: 1072px;
  max-width: 95%;
  margin: auto;
  padding: 0 24px 84px;
}

.Quiz-loading {
  margin-top: 36px;
  margin-left: 36px;
  font-size: 24px;
}

.Quiz-finish.button {
  background-color: #ab47bc;
  margin-top: 36px;
  padding: 8px 36px;
}

.Quiz-finish:hover {
  opacity: 0.8;
}
