.Question:not(:last-child) {
  margin-bottom: 36px;
}

.Question:last-child {
  padding-bottom: 24px;
}

.Question-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.Question-answers {
}
