.Home {
  text-align: center;
  margin-bottom: 36px;
}

.Home-header {
  background: linear-gradient(to right, #BDD9BF, #d7e8d8);
  width: 200px;
  border-radius: 50% 50% 0 0;
  height: 200px;
  margin: auto;
  margin-top: 12px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.Home-logo {
  width: 300px;
  height: 300px;
  margin-top: -40px;
  margin-left: -48px;
}

.Home-title {
  width: 700px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  font-size: 48px;
  line-height: 48px;
  color: #111d4a;
  text-align: center;
  background-color: #2AB7CA;
  padding: 24px 12px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.Home-description {
  padding: 0 12px;
  width: 700px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 24px auto;
}

.Home-link-quiz {
  text-decoration: none;
  background-color: #FE4A49;
  color: #f5f5f5;
  padding: 8px;
  font-size: 24px;
  display: block;
  max-width: 300px;
  margin: 36px auto 0;
  border-radius: 4px;
  text-align: center;
}

.Home-link-results {
  text-decoration: none;
  background-color: #111d4a;
  color: #f5f5f5;
  padding: 8px;
  font-size: 24px;
  display: block;
  max-width: 300px;
  margin: 12px auto 0;
  border-radius: 4px;
  text-align: center;
}

.Home-link-quiz:hover,
.Home-link-resuts:hover {
  opacity: 0.8;
}