.Home {
  background-image: url('../assets/movement.jpg');
  background-position-y: -200px;
  position: relative;
  padding-bottom: 72px;
  min-height: calc(100vh - 92px - 48px - 72px);
  overflow-x: hidden;
}

.Home-subtitle {
  color: #f5f5f5;
  text-align: left;
  font-size: 28px;
  padding-bottom: 12px;
}

.Home-body {
  width: 1000px;
  max-width: calc(95% - 72px);
  margin: auto;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
  background-color: #1e1e24;
  padding: 36px 36px 18px;
  margin-top: 24px;
  border-radius: 2px;
}

.Home-description {
  text-align: left;
  font-size: 20px;
  line-height: 32px;
  color: #f5f5f5;
  padding-bottom: 36px;
}

.Home-link {
  margin-right: 18px;
  margin-bottom: 18px;
}

.Home-link:hover {
  opacity: 0.8;
}

.Home-link-quiz {
  background-color: #ab47bc;
}

.Home-link-results {
  background-color: #790e8b;
}
